<div class="nav-negative-margin">
    <div class="nav-overlap"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 offset-md-3">
                <p>Prodcuts >> Crafts</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-1">
                <h4>All Products</h4>
                <ul class="product-category-list">
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                    <li>Product 5</li>
                </ul>
            </div>
            <div class="col-md-9">
                <h2>Crafts</h2>
                <div class="row product-list">
                    <div class="card col-lg-2 col-sm-3 col-5">
                        <img src="/assets/images/download.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                            <p class="card-text">Product code - 12345</p>
                            <p class="card-text">Rs. 200</p>
                            <div class="float-right pp-card-btn">
                                <a href="#" class="btn btn-pink">Add to cart</a>
                                <fa-icon [icon]="['far', 'heart']" size="2x" class="fav-btn"></fa-icon>
                            </div>
                        </div>
                    </div><!-- card -->
                    <div class="card col-lg-2 col-sm-3 col-5">
                        <img src="/assets/images/download.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                            <p class="card-text">Product code - 12345</p>
                            <p class="card-text">Rs. 200</p>
                            <div class="float-right pp-card-btn">
                                <a href="#" class="btn btn-pink">Add to cart</a>
                                <fa-icon [icon]="['far', 'heart']" size="2x" class="fav-btn"></fa-icon>
                            </div>
                        </div>
                    </div><!-- card -->
                    <div class="card col-lg-2 col-sm-3 col-5">
                        <img src="/assets/images/download.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                            <p class="card-text">Product code - 12345</p>
                            <p class="card-text">Rs. 200</p>
                            <div class="float-right pp-card-btn">
                                <a href="#" class="btn btn-pink">Add to cart</a>
                                <fa-icon [icon]="['far', 'heart']" size="2x" class="fav-btn"></fa-icon>
                            </div>
                        </div>
                    </div><!-- card -->
                    <div class="card col-lg-2 col-sm-3 col-5">
                        <img src="/assets/images/download.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                            <p class="card-text">Product code - 12345</p>
                            <p class="card-text">Rs. 200</p>
                            <div class="float-right pp-card-btn">
                                <a href="#" class="btn btn-pink">Add to cart</a>
                                <fa-icon [icon]="['far', 'heart']" size="2x" class="fav-btn"></fa-icon>
                            </div>
                        </div>
                    </div><!-- card -->
                    <div class="card col-lg-2 col-sm-3 col-5">
                        <img src="/assets/images/download.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                            <p class="card-text">Product code - 12345</p>
                            <p class="card-text">Rs. 200</p>
                            <div class="float-right pp-card-btn">
                                <a href="#" class="btn btn-pink">Add to cart</a>
                                <fa-icon [icon]="['far', 'heart']" size="2x" class="fav-btn"></fa-icon>
                            </div>
                        </div>
                    </div><!-- card -->
                    <div class="card col-lg-2 col-sm-3 col-5">
                        <img src="/assets/images/download.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                            <p class="card-text">Product code - 12345</p>
                            <p class="card-text">Rs. 200</p>
                            <div class="float-right pp-card-btn">
                                <a href="#" class="btn btn-pink">Add to cart</a>
                                <fa-icon [icon]="['far', 'heart']" size="2x" class="fav-btn"></fa-icon>
                            </div>
                        </div>
                    </div><!-- card -->
                </div>
            </div>
        </div>
    </div>
</div>