.product-list {
    display        : flex;
    flex-flow      : row wrap;
    justify-content: flex-start;
}

.card {
    max-height: 350px;
    padding   : 0;
}

@media(max-width: 992px) {
    .product-list {
        justify-content: space-evenly;
    }
}