.order-title {
    margin-top   : 5%;
    margin-bottom: 2%;
    color        : #AAAAAA;
    font-weight  : normal;
    font-family  : Roboto;
    font-style   : normal;
}

.cart-items-container {
    padding-bottom: 0;
    border-radius : 5px;
    border        : 1px solid #EEEEEE;
    background    : #EEEEEE;
}

.cart-item {
    margin       : 0 1px;
    padding      : 1rem;
    border-radius: 5px;
    background   : white;
}

.order-heading {
    font-family: Roboto;
    font-style : normal;
    font-weight: bold;
    font-size  : 1.2rem;
    line-height: 22px;
    color      : #2F2F2F;
}

.order-sub-heading {
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 0.8rem;
    line-height: 2rem;
    color      : #707070;
}

.buy-btn {
    width        : max-content;
    margin-bottom: 2%;
}

.table td {
    border-top: none;
    padding   : 0;
}

.order-table td,
.cart-actions {
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 0.8rem;
    line-height: 2rem;
    color      : #707070;
}

.cart-actions a {
    color: #707070;
}

.order-total {
    padding       : 3%;
    padding-bottom: 0;
}

.grand-total {
    font-size   : 1.3rem;
    font-weight : 700;
    margin-right: 2%;
}

.shipping-options {
    display      : flex;
    flex-flow    : row wrap;
    margin-bottom: 2%;
}

.shipping-options button {
    margin   : 2px;
    min-width: 121px;
}

.shipping-calculator {
    position: relative;
}

.shipping-distance-dialog {
    background: #2F2F2F;
    padding   : 2%;
    position  : absolute;
    top       : 0;
    width     : 97%;
    z-index   : 1;
}

.shipping-distance-dialog select {
    background  : #2F2F2F;
    border-color: #ffffff;
    color       : white;
}

.shipping-distance-dialog p {
    color: #EEEEEE;
}

.shipping-distance-dialog fa-icon {
    color : #EEEEEE;
    cursor: pointer;
}

.empty-cart {
    padding: 10%;
}