<div class="nav-negative-margin">
    <div class="nav-overlap"></div>
    <div class="container" *ngIf="utility.orderSummary.cartItems.size > 0">
        <h3 class="order-title">Order Summary</h3>
        <div class="cart-items-container">
            <div class="row cart-item" *ngFor="let item of utility.orderSummary.cartItems.values()">
                <div class="col-sm-4">
                    <img src="/assets/images/download.png" class="w-100" alt="">
                </div><!-- col-sm-4 -->
                <div class="col-sm-8">
                    <h5 class="order-heading">{{item.product.name}}</h5>
                    <p class="order-sub-heading">Product code - {{item.product.productCode}}</p>
                    <table class="table order-table">
                        <tr>
                            <td><b>QTY: </b>
                                <fa-icon [icon]="['fas', 'minus']" class="decrease_quantity accent-color"
                                    (click)="utility.decreaseProductQuantity(item)">
                                </fa-icon> <span class="disabled-box">{{item.noOfItems}}</span>
                                <fa-icon [icon]="['fas', 'plus']" class="increase_quantity accent-color"
                                    (click)="utility.increaseProductQuantity(item)">
                                </fa-icon>
                            </td>
                            <td>
                                Weight -
                                <b>{{utility.getFormattedWeight(item.product.weight[item.product.selectedIndex])}}</b>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Product Cost -</b></td>
                            <td class="accent-color"><b>Rs. {{item.product.price[item.product.selectedIndex]}}</b>
                            </td>
                        </tr>
                    </table>
                    <div class="float-right cart-actions">
                        <a (click)="utility.removeItemFromCart(item.product)" class="link">Remove</a> | <a
                            (click)="editCartItem(item.product._id)" class="link">Update</a>
                    </div><!-- cart-actions -->
                </div><!-- col-sm-8 -->
                <hr class="w-100">
            </div><!-- row cart-item-->
            <div class="row order-total">
                <div class="col-sm-12 col-md-6">
                    <table class="table order-table">
                        <tr>
                            <td>Product Net weight</td>
                            <td><b>{{utility.getFormattedWeight(utility.orderSummary.productNetWeight)}}</b></td>
                        </tr>
                        <tr>
                            <td>Gross Weight -</td>
                            <td><b>{{utility.getFormattedWeight(utility.orderSummary.productGrossWeight)}}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Total Prodcut Cost -</td>
                            <td><b>Rs. {{utility.orderSummary.totalProductCost}}</b></td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12 col-md-6 shipping-calculator">
                    <p class="content-heading accent-color">Shipping Charges Calculator</p>
                    <p class="content-text">Select delivery type</p>
                    <div class="shipping-options">
                        <button class="btn btn-danger" (click)="changeDeliveryMethod('Register Post')">Register
                            Post</button>
                        <button class="btn btn-info" (click)="changeDeliveryMethod('Speed Post')">Speed Post</button>
                        <button class="btn btn-warning" (click)="changeDeliveryMethod('Courier Post')">Courier
                            Post</button>
                        <button class="btn btn-primary" (click)="changeDeliveryMethod('DTDC')">DTDC</button>
                    </div><!-- shipping options -->
                    <div class="w-100">
                        <p class="content-text text-right">Shipping Cost - Rs <span
                                class="disabled-box">{{utility.orderSummary.shippingCost}}</span>
                        </p>
                        <p class="content-text text-right" *ngIf="utility.orderSummary.shippingMethod"><i>Selected
                                delivery type
                                is
                                {{utility.orderSummary.shippingMethod}}</i></p>
                    </div><!-- float-right -->
                    <div class="shipping-distance-dialog" *ngIf="showDistanceDialog">
                        <fa-icon [icon]="['fas', 'times']" class="float-right" (click)="showDistanceDialog=false">
                        </fa-icon>
                        <p class="content-heading">{{utility.orderSummary.shippingMethod}}</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <select name="distance" id="" class="form-control"
                                    (change)="calculateShippingCost($event.target.value)">
                                    <option value="">Select Distance</option>
                                    <option value="{{distance}}" *ngFor="let distance of distances">{{distance}}
                                    </option>
                                </select>
                            </div><!-- form-group -->
                            <p class="text-right content-text">Shipping Cost- Rs {{utility.orderSummary.shippingCost}}
                            </p>
                            <div class="form-group row">
                                <div class="col-12">
                                    <button class="btn btn-pink float-right"
                                        (click)="showDistanceDialog=false">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div><!-- shipping-distance-dialog -->
                </div><!-- col-sm-12 col-md-6 shipping-calculator -->
            </div><!-- order-total -->
            <hr>
            <div class="row">
                <p class="col-12 text-right"><b>Grand total - </b><span class="accent-color grand-total">Rs.
                        {{utility.orderSummary.grandTotal}}</span></p>
            </div>
        </div><!-- cart-item -->
        <br><a routerLink="/checkout" class="btn btn-pink buy-btn float-right"
            *ngIf="utility.orderSummary.shippingCost">Proceed
            to Checkout</a>
    </div><!-- container -->
    <div class="container empty-cart" *ngIf="utility.orderSummary.cartItems.size == 0">
        <h1 class="heading text-center">
            <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon><br> No Items in Cart!! <br>
            <a routerLink="/" class="btn btn-pink">Go Home</a>
        </h1>
    </div>
</div>