<div class="container">
    <h2 class="heading mt-3">About Us</h2>
    <p class="content-heading">Craft Megastore</p>
    <p class="content-text">Art &amp; Craft Supplies @ 9890367761</p>
    <p class="content-text">A Venture by Maa Tulja Creations</p>
    <hr>
    <p class="content-text"><i class="fa fa-check"></i> We are a budding company with a clear vision of providing good quality craft raw
        materials at reasonable
        rates to the crafters.</p>
    <p class="content-text"><i class="fa fa-check"></i> Endeavour is to specialize in Yarns & Accessories, Immitation Jewellery Making Supplies
        & Decorative Craft Raw Materials.</p>
    <p class="content-text"><i class="fa fa-check"></i> We are a growing company with more than 11000 followers on Facebook & the customer base
        increasing on a Daily Basis.</p>
    <p class="content-text"><i class="fa fa-check"></i> We have tieups with many Courier Service Providers who enable us to supply raw materials
        across the World.</p>

</div>