<div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" [attr.data-slide-to]="i" [ngClass]="{'active': i == 0}"
            *ngFor="let banner of banners$| async;index as i"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let banner of banners$ | async;index as i" [ngClass]="{'active': i == 0}">
            <div class="banner-image">
                <img [src]="banner.imageUrl" class="d-block w-100 " [alt]="banner.title">
            </div>
            <div class="carousel-caption d-none d-md-block" *ngIf="banner.title || banner.subTitle">
                <h4 class="display-4 font-weight-bold mb-0">{{banner.title}}</h4>
                <p class="content-heading">{{banner.subTitle}}</p>
            </div>
        </div>
    </div>
</div>
<div class="products-container">
    <div class="container">
        <div class="row">
            <h3 class="heading ml-3">Products</h3>
            <div class="product-slider-container w-100">
                <div class="product-slider" id="popular-product-slider">
                    <div class="card product-card col-lg-2 col-md-4 col-sm-5 col-7"
                        *ngFor="let product of products | async">
                        <div class="card-img-top">
                            <img src="{{product.imageUrl[0]}}" class="img img-responsive w-100" [alt]="product.name">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title content-heading max-lines">{{product.name}}</h4>
                            <p class="content-text">Product code - {{product.productCode}}</p>
                            <p class="content-text">Avialable from Rs. {{utility.getMinPrice(product.price)}}</p>
                            <p class="content-text text-danger font-weight-bold"
                                *ngIf="utility.checkForOutOfStock(product)">Out of
                                Stock</p>
                            <div class="w-max-content center">
                                <!-- show when quantity > 0 -->
                                <a [routerLink]="['/products', product._id]" class="btn btn-pink">
                                    View Product
                                </a>
                            </div>
                        </div>
                    </div><!-- card -->
                </div><!-- product-slider -->
            </div><!-- product-slider-container -->
        </div><!-- row -->
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="indicators-container">
            <img src="/assets/images/next_arrow_active.jpg" class="float-right indicators-btn" alt="Next button"
                id="pp_next_btn">
            <img src="/assets/images/back_arrow_inactive.jpg" class="float-right mr-3 indicators-btn"
                alt="Previous button" id="pp_prev_btn">
        </div>
    </div>
</div>
<div class="container">
    <h3 class="heading">New Arrivals</h3>
    <div class="row" id="new-arrivals-container" *ngIf="newArrivalsLength > 0">
        <div class="na-card" *ngFor="let newArrival of newArrivals$| async">
            <img [src]="newArrival.imageUrl" class="img img-responsive" [alt]="newArrival.name" height="200">
        </div><!-- card -->
    </div><!-- row -->
</div><!-- Container -->
<span *ngIf="loading" class="spinner-border spinner-border-lg center"></span>