<div id="mainCarousel" class="carousel slide nav-negative-margin" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/images/banner1.png" class="d-block w-100" alt="/public/assets/images/banner1.png">
            <div class="carousel-caption d-none d-md-block">
                <h4>First slide label</h4>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/banner1.png" class="d-block w-100" alt="/public/assets/images/banner1.png">
            <div class="carousel-caption d-none d-md-block">
                <h4>Second slide label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/images/banner1.png" class="d-block w-100" alt="/public/assets/images/banner1.png">
            <div class="carousel-caption d-none d-md-block">
                <h4>Third slide label</h4>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="product-types-container">
        <div class="row">
            <h3 class="heading">Popular Products</h3>

            <div class="product-slider-container w-100">
                <div class="product-slider" id="popular-product-slider">
                    <div class="card col-lg-3 col-md-4 col-sm-5 col-7" *ngFor="let product of products | async">
                        <div class="card-img-top">
                            <img src="{{product.imageUrl}}" class="img img-responsive w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title content-heading">{{product.name}}</h4>
                            <p class="content-text">Product code - {{product.productCode}}</p>
                            <p class="content-text">Avialable from Rs. {{utility.getMinPrice(product.price)}}</p>
                            <p class="content-text text-danger font-weight-bold"
                                *ngIf="utility.checkForOutOfStock(product)">Out of
                                Stock</p>
                            <div class="w-max-content center">
                                <!-- show when quantity > 0 -->
                                <a [routerLink]="['/products', product._id]" class="btn btn-pink">
                                    View Product
                                </a>
                                <fa-icon [icon]="['far', 'heart']" size="2x" class="fav-btn"></fa-icon>
                            </div>
                        </div>
                    </div><!-- card -->
                </div><!-- product-slider -->
            </div><!-- product-slider-container -->

            <div class="indicators-container">
                <fa-icon [icon]="['fas', 'chevron-right']" pull="right" size="2x" class="indicators-btn"
                    id="pp_next_btn"></fa-icon>
                <fa-icon [icon]="['fas', 'chevron-left']" pull="right" size="2x" class="indicators-btn"
                    id="pp_prev_btn"></fa-icon>
            </div>
        </div><!-- row -->

        <div class="row" id="new-arrivals-container">
            <h3 class="heading">New Arrivals</h3>
            <div class="product-slider-container">
                <div class="product-slider" id="new-arrivals-slider">
                    <img src="/assets/images/download.png" class="img-responsive col-md-4 col-sm-6" alt="...">
                    <img src="/assets/images/download.png" class="img-responsive col-md-4 col-sm-6" alt="...">
                    <img src="/assets/images/download.png" class="img-responsive col-md-4 col-sm-6" alt="...">
                    <img src="/assets/images/download.png" class="img-responsive col-md-4 col-sm-6" alt="...">
                </div><!-- product-slider -->
            </div><!-- product-slider-container -->
            <div class="indicators-container">
                <fa-icon [icon]="['fas', 'chevron-right']" pull="right" size="2x" class="indicators-btn"
                    id="na_next_btn"></fa-icon>
                <fa-icon [icon]="['fas', 'chevron-left']" pull="right" size="2x" class="indicators-btn"
                    id="na_prev_btn"></fa-icon>
            </div>
        </div><!-- row -->
    </div><!-- product-types-container -->
</div><!-- Container -->