<div class="nav-negative-margin">
    <div class="nav-overlap"></div>
    <div class="container">
        <h3 class="heading mt-3">Order Status</h3>
        <p class="content-text">
            <fa-icon [icon]="['fas', 'check']" size="2x" class="text-success"></fa-icon> Your order has been placed
            successfully!! You can check the status in your <a (click)="goToProfile()"
                class="link">Profile</a>
        </p>
        <div class="p-5">
            <button class="btn btn-pink center" (click)="goHome()">Go Home</button>
        </div>

    </div><!-- container -->
</div>