<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink=""><img src="/assets/images/new_logo.png" alt="Maa Tulja Creations"
        class="img img-responsive w-100"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown text-center" [ngClass]="{'active': isActive('/products')}">
          <a class="btn btn-pink nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" [attr.aria-expanded]="showDropdown || false" (mouseenter)="showDropdown=true"
            (click)="showDropdown=!showDropdown">
            CATEGORIES <br>
          </a>
          <fa-icon [icon]="['fas', 'chevron-down']" class="m-0"></fa-icon>
          <div class="dropdown-menu category-dropdown content-text-sm" [ngClass]="{'show': showDropdown || false}"
            (mouseleave)="showDropdown=false">
            <p class="text-center">Product Categories</p>
            <div class="dropdown-divider"></div>
            <ul class="list-unstyled">
              <li class="nav-item"><a class="dropdown-item text-center"
                  (click)="openProductsWithQuery();showDropdown=false">Show All</a>
              </li>
            </ul>
            <div class="float-left category-chunk" *ngFor="let categories of categories$ | async">
              <ul class="list-unstyled">
                <li class="nav-item" *ngFor="let category of categories">
                  <a class="dropdown-item"
                    (click)="openProductsWithQuery(category.name);showDropdown=false;collapseNavBar()">
                    {{category.name}} </a>
                </li>
              </ul>
            </div>
          </div><!-- dropdown-menu -->
        </li>
        <li class="nav-item" (mouseenter)="showDropdown=false">
          <a class="nav-link btn btn-pink " (click)="collapseNavBar()" routerLink="/about">ABOUT US <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" (mouseenter)="showDropdown=false">
          <a class="nav-link btn btn-pink " (click)="scrollToBottom();collapseNavBar()">CONTACT <span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="nav-right-container">
        <div class="nav-top">
          <a routerLink="" class="nav-right-btn" id="cart-btn" (mouseenter)="homeIcon = 'homeicon_hover.png'"
            (mouseleave)="homeIcon='homeicon.png'" (click)="collapseNavBar()" title="Home">
            <img [src]="'/assets/images/' + homeIcon" width="37" height="37" alt="">
          </a>
          &nbsp;
          <a routerLink="cart" class="nav-right-btn" id="cart-btn" title="Cart"
            (mouseenter)="shoppingIcon = 'shoppingicon_hover.png'" (mouseleave)="shoppingIcon='shoppingicon.png'"
            (click)="collapseNavBar()">
            <img [src]="'/assets/images/' + shoppingIcon" width="37" height="37" alt="">
            <span class="cart-item-count">{{cartItemCount}}</span>
          </a>
          &nbsp;
          <a routerLink="/login" class="btn btn-gray nav-right-btn" id="login-btn" *ngIf="!currentToken"
            (click)="collapseNavBar()">LOGIN</a>
          <li class="nav-item dropdown nav-right-btn" *ngIf="currentToken">
            <a class="nav-link dropdown-toggle plain-link" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">
              <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>&nbsp;<span
                *ngIf="currentUser$ | async;let user">{{user.firstName}}</span>
            </a>
            <div class="dropdown-menu" *ngIf="currentUser$ | async;let user">
              <a class="dropdown-item" routerLink="/profile" *ngIf="!user.isAdmin" (click)="collapseNavBar()">View
                Profile</a>
              <a class="dropdown-item" routerLink="/admin-panel-cms" *ngIf="user.isAdmin"
                (click)="collapseNavBar()">Admin
                Panel</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout();collapseNavBar()">Logout</a>
            </div>
          </li>
        </div><!-- nav-top -->
        <form class="form-inline" [formGroup]="searchForm" (keydown.enter)="search()">
          <div id="search-form">
            <input class="form-control mr-sm-2 w-100" type="search" formControlName="keyword"
              placeholder="Search for items" aria-label="Search">
            <fa-icon [icon]="['fas', 'search']" id="search_btn" (click)="search();collapseNavBar()"></fa-icon>
          </div>
        </form>
      </div><!-- nav-right-container -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<div class="bottom-background"></div>
<div id="footer">
  <br>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p class="content-text">Follow us on:
            <a href="https://www.facebook.com/craftmegastore/" target="_blank"
              (mouseenter)="fbIcon = 'fbicon_hover.png'" (mouseleave)="fbIcon='fbicon.png'"><img
                [src]="'/assets/images/' + fbIcon" id="icon1" width="37" height="37"></a>
            &nbsp;<a href="https://instagram.com/craftmegastore?igshid=1mleu2mtljq6o" target="_blank"
              (mouseenter)="instaIcon = 'insta_hover.png'" (mouseleave)="instaIcon='instaicon.png'"><img
                [src]="'/assets/images/' + instaIcon" id="icon2" width="37" height="37"></a>
          </p>
          <p class="content-text">&copy; 2019 Maa Tulja Creations. All rights reserved.</p>
        </div>
        <div class="col-sm-4 offset-sm-4">
          <p class="content-heading"><b>Contact Us</b></p>
          <p class="content-text">Rane Vihar, House No 264/218, Savlem, <br> Alto-Pilerne, Bardez, GOA-40251
            <br> GSTIN/UIN: 30AWXPS1609N1ZY <br> State Name: Goa, Code: 30
          </p>
          <p class="content-text"><img src="/assets/images/emailicon.png" width="37" height="37">
            maatuljacreations@gmail.com</p>
          <p class="content-text"><img src="/assets/images/phoneicon.png" width="37" height="37"> +91-9890367761</p>
        </div>
      </div>
    </div>
  </footer>
</div>
