<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="" align="center"><img src="/assets/images/logo.png" alt="Maa Taluja Creations"
        height="100"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">PRODUCTS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT US <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="navbar-right">
        <div class="float-right">
          <a href="#" class="nav-right-btn" id="cart-btn">
            <fa-icon [icon]="['fas', 'shopping-cart']" class="mr-md-3"></fa-icon>
          </a>
          <a href="#" class="nav-right-btn" id="login-btn">LOGIN</a>
        </div>
        <br>
        <form class="form-inline my-2 my-lg-0 float-left">
          <div id="search-form">
            <input class="form-control mr-sm-2 w-100" type="search" placeholder="Search for items" aria-label="Search">
            <fa-icon [icon]="['fas', 'search']" id="search_btn"></fa-icon>
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<div id="footer">
  <br>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <p>Follow us on <a href="" target="_blank"><img src="/assets/images/fb.png" id="icon1"></a> <a href=""
              target="_blank"><img src="/assets/images/insta.png" id="icon2"></a> <a href="" target="_blank"><img
                src="/assets/images/yt.png" id="icon3"></a></p>
          <p>&copy; 2019 Maa Tulja Creations. All rights reserved.</p>
        </div>
        <div class="col-sm-3 col-sm-offset-3">

        </div>
        <div class="col-sm-3">
          <p class="heading"><b>Contact Us</b></p>
          <p>Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit, sed do eiusmod
          </p>
          <p><img src="/assets/images/mail.png"> recruitment@aargon.com</p>
          <p><img src="/assets/images/phone.png"> 1234567</p>
        </div>
      </div>
    </div>
  </footer>
</div>