.navbar {
    z-index   : 1;
    padding   : 0;
    background: url("/assets/images/top-bg.png") no-repeat;
}

.navbar-nav {
    margin-top : 10vh;
    margin-left: 4%;
}

.nav-right-btn {
    color     : rgba(0, 0, 0, .9);
    position  : relative;
    list-style: none;
    display   : inline-block;
}

#footer {
    background-color: #dbdada;
    margin-top      : 5%;
    clear           : right;
}

#footer footer {
    margin-top: 5%;
}

#footer p {
    font-size: 16px;
}

.cart-item-count {
    font-size       : 10px;
    font-family     : 'Roboto';
    background-color: #FF00AE;
    color           : white;
    position        : absolute;
    top             : -17%;
    right           : -28%;
    padding         : 1px 5.5px;
    border-radius   : 55px;
}

.nav-right-container {
    display    : flex;
    flex-flow  : column wrap;
    align-items: flex-end;
}

.dropdown-toggle {
    font-size: 18px;
}

.dropdown-toggle::after {
    content: none;
}

.category-dropdown {
    max-height: 300px;
    overflow  : auto;
    width: max-content;
    max-width: 480px;
}

.category-chunk {
    width: 220px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.bottom-background {
    background   : url("/assets/images/botbg.png") no-repeat;
    width        : 100%;
    min-height   : 176px;
    margin-bottom: -10%;
    position     : relative;
}

.navbar-brand {
    width      : 29%;
    padding-top: 0;
    margin-top : -2.5%;
}

@media(max-width: 992px) {
    .navbar-nav {
        margin-left: 0;
        margin-top : 2vh;
    }

    .nav-link {
        margin-top: 1%;
    }

    .nav-right-container {
        padding    : 2vh;
        margin-top : 2vh;
        display    : flex;
        flex-flow  : column wrap;
        align-items: flex-start;
    }

    .navbar-brand {
        float      : left;
        width      : 46%;
        padding-top: 0;
        margin-top : 0vh;
    }
}

@media(min-width: 993px) and (max-width: 1200px) {
    .navbar-brand {
        margin-top: -4.5%;
    }
}

@media(max-width: 767px) {
    .category-dropdown {
        width: 100%;
    }
}
