<div class="nav-negative-margin">
    <div class="nav-overlap"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-8 offset-lg-3 offset-sm-2">
                <div class="card login-form-container">
                    <h4 class="card-title content-heading text-center">Login</h4>
                    <div class="card-body">
                        <form action="" class="form-horizontal">
                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder="Enter your email"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" placeholder="Enter your password"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" value=" Login " class="btn btn-pink">
                            </div>
                        </form>
                        <p class="content-text"><a routerLink="" class="link">Forgot Password?</a></p>
                        <p class="content-text">Not a member yet? Click <a routerLink="/signup" class="link">here</a> to signup</p>
                    </div>
                </div>
            </div>
        </div><!-- ṛow -->
    </div><!-- container -->
</div><!-- nav-negative-margin -->