.card {
    padding: 2%;
}

.saved-addresses {
    max-height: 320px;
}

.address-item {
    padding: 2%;
    margin : 1% 0;
}

.address-actions {
    width: max-content;
    float: right;
}

.wishlist {
    display      : flex;
    flex-flow    : row;
    align-content: flex-start;
    overflow     : auto;
}

.orders {
    max-height: 600px;
}