<div class="nav-negative-margin">
    <div class="nav-overlap"></div>
    <div class="container">
        <h2 class="heading mt-2">Search Products</h2>
        <form class="form-inline" (keydown.enter)="search($event.srcElement.value)">
            <div id="search-form">
                <input class="form-control w-100 pr-2" type="search" placeholder="Type keywords and press enter"
                    aria-label="Search">
            </div>
        </form>
        <h3 class="content-heading mt-3">Search Results:</h3>
        <p class="content-text-sm" *ngIf="!loading">{{count}} result(s) found</p>
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        <p *ngIf="!loading && count === 0" class="content-text text-center m-5 p-5">No Results found</p>
        <div class="search-items" *ngFor="let product of results$ | async;let results;index as i">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card-img-top">
                        <img [src]="product.imageUrl[0]" class="img img-responsive center w-100" alt="...">
                    </div>
                </div><!-- col-sm-4 -->
                <div class="col-sm-8">
                    <a class="plain-link" [routerLink]="['/products', product._id]">
                        <h5 class="content-heading">{{product.name}}</h5>
                    </a>
                    <p class="content-text-sm">Product code - <b>{{product.productCode}}</b></p>
                    <p class="content-text">Available from Rs {{utility.getMinPrice(product.price)}}</p>
                    <p class="content-text">{{product.description}}</p>
                </div><!-- col-sm-8 -->
            </div>
            <hr *ngIf="i < count - 1">
        </div>
    </div>
</div>