@font-face {
    font-family: 'Roboto';
    src        : url('/assets/fonts/Roboto-Regular.ttf'), url('/assets/fonts/Roboto-Bold.ttf'),
        url('/assets/fonts/Roboto-Thin.ttf'), url('/assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    src        : url('/assets/fonts/RobotoSlab-Regular.ttf'), url('/assets/fonts/RobotoSlab-Bold.ttf'),
        url('/assets/fonts/RobotoSlab-Thin.ttf'), url('/assets/fonts/RobotoSlab-Light.ttf');
}

body {
    font-family: 'Roboto';
}

a {
    cursor: pointer;
}

.nav-link {
    font-weight: 400;
    color      : #3d3d3d;
    font-size  : 24px;
}

.heading {
    font-family   : Roboto;
    font-style    : normal;
    font-weight   : 400;
    font-size     : 24px;
    line-height   : 32px;
    opacity       : 1;
    mix-blend-mode: normal;
    margin-top    : 10vh;
    color         : #707070;
}

.content-heading {
    font-family: Roboto;
    font-style : normal;
    font-weight: 200;
    font-size  : 24px;
    line-height: 32px;
}

.content-text {
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 15px;
    line-height: 20px;
    color      : #707070;
}

.content-text-lg {
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 17px;
    line-height: 20px;
    color      : #707070;
}

.content-text-sm {
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 13px;
    line-height: 17px;
    color      : #707070;
}

.btn {
    border-radius : 56px;
    color         : #FFFFFF !important;
    font-family   : Roboto;
    font-style    : normal;
    font-weight   : bold;
    font-size     : 16px;
    line-height   : 19px;
    text-transform: uppercase;
    margin-right  : 5px;
}

.btn:hover {
    color: #FFFFFF;
}

.btn-pink {
    font-weight: 700;
    background : #FF00AE;

}

.btn-white {
    font-weight : 700;
    color       : #000000 !important;
    background  : white;
    border-color: #010101;
}

.btn-gray {
    font-weight : 700;
    background  : #6d6d6d;
    border-color: #6d6d6d;
}

.btn-gray:hover {
    background  : #7d7d7d;
    border-color: #7d7d7d;
}

.btn-white:hover {
    color     : #2F2F2F;
    background: #EEEEEE;
}

.btn-pink:hover {
    color     : #FFFFFF;
    background: #D21295;
}

.fav-btn {
    display       : inline-block;
    vertical-align: middle;
    cursor        : pointer;
    margin-left   : 10px;
    color         : #707070;
}

.fav-btn:hover {
    color: #2F2F2F;
}

.card-body {
    padding: 0.5rem;
}

.card {
    margin    : 0 4px;
    margin-top: 5px;
}

.product-category-list {
    list-style  : none;
    padding-left: 0;
}

.product-category-list li {
    cursor: pointer;
}

.link {
    color          : #2F2F2F;
    font-weight    : 600;
    text-decoration: underline !important;
}

.plain-link {
    color: #2F2F2F;
}

.link:hover,
.plain-link:hover {
    color: #000000;
}

.center {
    display: block;
    margin : 0 auto;
}

.accent-color {
    color: #FF00AE !important;
}

.light-accent-bg {
    background: rgb(255, 154, 223) !important;
    color     : white !important;
}

.accent-bg {
    background-color: #FF00AE !important;
    color           : white !important;
}

hr {
    margin-right: 2%;
    margin-left : 2%;
}

.disabled-box {
    border-radius: 15px;
    border       : 1.5px solid #dbdada;
}

.decrease_quantity,
.increase_quantity {
    cursor: pointer;
    margin: 0 10px;
}

.round-btn {
    color        : #000000;
    border-radius: 56px;
    padding      : 6px 8px;
    background   : #FFFFFF;
    font-size    : 0.7rem;
    cursor       : pointer;
}

.no-padding {
    padding: 0;
}

.no-resize {
    resize: none;
}

.v-center {
    display        : flex;
    flex-flow      : column wrap;
    justify-content: space-evenly;
}

.muted-item {
    background-color: #ececec;
    color           : #b9b9b9;
}

.card-img-top {
    overflow: hidden;
}

.w-max-content {
    width: max-content;
}

.alert-window {
    z-index : 100;
    width   : 20%;
    position: fixed;
    top     : 5px;
    left    : 35%;
}

#search-form {
    position  : relative;
    margin-top: 10px;
    width     : 300px;
}

#search_btn {
    color   : #FF00AE;
    float   : right;
    position: absolute;
    right   : 10px;
    top     : 20%;
    cursor  : pointer;
}

#search-form input {
    border-radius: 50px;
    padding-right: 9%;
}

.product-card {
    border-radius: 0.5rem;
}

.product-card img {
    border-top-left-radius : 0.5rem;
    border-top-right-radius: 0.5rem;
}

.max-lines {
    text-overflow: ellipsis;
    overflow     : hidden;
    max-height   : 2rem;
    white-space  : nowrap;
}

.overflow-scroll {
    overflow-x: auto;
}
