<div class="nav-negative-margin">
    <div class="nav-overlap"></div>
    <div class="container" *ngIf="product$ | async; let product">
        <div class="row">
            <div class="col-md-10">
                <p class="content-text mt-2">Products >> {{product.category}} >> {{product.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img [src]="product.imageUrl" class="img-responsive w-100" alt="product">
            </div>
            <div class="col-md-8">
                <h4 class="content-heading">{{product.name}}</h4>
                <p class="content-text">Product code - {{product.productCode}}</p>
                <p class="content-text">{{product.description}}</p>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="color">Color:&nbsp;</label>
                        <select name="color" class="form-control"
                            (change)="product.selectedIndex = product.colors.indexOf($event.srcElement.value);showUpdateButton=colorValueChanged;colorValueChanged=true;">
                            <option value="">Select Color</option>
                            <option [value]="color" *ngFor="let color of product.colors; index as i"
                                [selected]="utility.orderSummary.cartItems.get(product._id)?.product.selectedIndex === i">
                                {{color}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="size">Size:&nbsp;</label>
                        <select name="size" class="form-control"
                            (change)="sizeValueChanged=product.selectedSize != undefined;product.selectedSize = $event.srcElement.value">
                            <option value="">Select Size</option>
                            <option [value]="size" *ngFor="let size of product.size"
                                [selected]="utility.orderSummary.cartItems.get(product._id)?.product.selectedSize === size"
                                [disabled]="product.quantity[i] == 0"
                                [ngClass]="{'text-danger': product.quantity[i] == 0}">
                                {{size}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" *ngIf="utility.orderSummary.cartItems.has(product._id)">
                    <span>QTY: </span>
                    <fa-icon [icon]="['fas', 'minus']" class="decrease_quantity accent-color"
                        (click)="utility.decreaseProductQuantity(utility.orderSummary.cartItems.get(product._id))">
                    </fa-icon> <span
                        class="disabled-box">{{utility.orderSummary.cartItems.get(product._id).noOfItems}}</span>
                    <fa-icon [icon]="['fas', 'plus']" class="increase_quantity accent-color"
                        (click)="utility.increaseProductQuantity(utility.orderSummary.cartItems.get(product._id))">
                    </fa-icon>
                </div>
                <p *ngIf="colorValueChanged && product.selectedIndex != -1" class="content-text">Price -
                    <b>Rs. {{product.price[product.selectedIndex]}}</b></p>
                <p *ngIf="colorValueChanged && product.selectedIndex != -1" class="content-text">Net Weight -
                    <b>Rs. {{product.weight[product.selectedIndex]}}</b></p>
                <p class="text-danger" *ngIf="!(product.selectedSize && product.size[product.selectedIndex])">
                    You
                    need to
                    select size and color before adding to cart</p>
                <button class="btn btn-pink" (click)="utility.addProductToCart(product)"
                    *ngIf="!utility.orderSummary.cartItems.has(product._id)"
                    [disabled]="!(product.selectedSize && product.size[product.selectedIndex])"
                    title="First select size and color">Add to
                    cart</button>
                <button class="btn btn-pink"
                    (click)="utility.updateCartProduct(product);isEditing?redirectBack():showUpdateButton=false;sizeValueChanged=false"
                    *ngIf="(utility.orderSummary.cartItems.has(product._id) && isEditing) || showUpdateButton || sizeValueChanged"
                    [disabled]="!(product.selectedSize && product.colors[product.selectedIndex])"
                    title="First select size and color">Update</button>
                <button class="btn btn-pink"
                    (click)="utility.removeItemFromCart(product);showUpdateButton=false;colorValueChanged=false;product.selectedIndex=-1"
                    *ngIf="utility.orderSummary.cartItems.has(product._id)"
                    [disabled]="!(product.selectedSize && product.colors[product.selectedIndex])"
                    title="First select size and color">Remove from
                    cart</button>
                <button class="btn btn-white">Add To Wishlist</button>
                <br><br>
                <h5 class="content-heading">Product Details</h5>
                <table class="table table-bordered overflow-scroll">
                    <tr>
                        <td>Weights</td>
                        <td *ngFor="let weight of product.weight">{{utility.getFormattedWeight(weight)}}</td>
                    </tr>
                    <tr>
                        <td>Sizes</td>
                        <td *ngFor="let size of product.size">{{size}}</td>
                    </tr>
                    <tr>
                        <td>Colors</td>
                        <td *ngFor="let color of product.colors">{{color}}</td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td *ngFor="let quantity of product.quantity">{{quantity}}</td>
                    </tr>
                </table>
            </div>
        </div><!-- row -->
    </div><!-- container-fluid -->

</div><!-- nav-negative-margin -->